.backgroundimg{

	background-image: url(https://images.pexels.com/photos/1287089/pexels-photo-1287089.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100 vh;
	width: 100%;

}